@import url (https://fonts.googleapis.com/css?family=Ubuntu:400,400italic);
* {margin:0;padding:0;box-sizing:border-box;}
#container {
  margin: 0 auto;
  width: 1000px;
  background-color: black;
}

#header {
    background-color: red;
    color:black;
    padding:20px;
}
#hero {
    background: url(../images/combine_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 85vh; 
}

nav {
    font-size: 1.25em;
    float: right;
    background: #333;
}

nav a {
    display: inline-block;
    padding: .5em 1em;
    color: #ffffff;
    text-decoration: none;
    border-left: 1px solid #fff;
}

nav a:hover {
  background-color: #ff0000;
}

section {
  background: #222;
  color: #fff;
  overflow: auto;
}

.column {
    float: left;
    width: 25%;
    padding: 20px;
    margin: 0;
    color:white;
}

footer {
  background-color: #cccccc;
  color: black;
  text-align: center;
  padding: 1em 0;
  clear: both;
}


h1  {
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
}


body {
    font-family: 'Ubuntu', georgia, sans-serif;
    /* text-align: center; */
    background-image: none;
    background-color: white;
    background-size: cover;
    color: #FFF;
}

