 @import url (https://fonts.googleapis.com/css?family=Ubuntu:400,400italic);
 
  #container {
  margin: 0 auto;
  width: 900px;
  background-color: #ffffff;
}

header {
  background-color: #cccccc;
  padding: 20px;
}

header .img {
  width: 100px;
}

header h1 { 
  margin: 0; 
}

nav {
  background: #333;
}

nav a {
  display: block;
  float: left;
  padding: 5px 10px;
  color: #ffffff;
  text-decoration: none;
  border-right: 1px solid #fff;
}

nav a:hover { 
  background-color: #FF0000; 
}

div {
  font-size: 1.2em
  width: 21%;
  padding: 2%;
  display: inline-block;
}

#hero {
  display: block;
  width: 100%
  margin 0;
  background: url('../images/combine_2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 85vh;
}

.column {
  float: left;
  width: 21%;
  height: 300px;
  padding: 2%;
  margin: 0;
  text-align: block;
}

.column img {
  display: block;
  margin: 0;
  padding-bottom: 2em;
}

footer {
  background-color: #cccccc;
  text-align: right;
  padding: 20px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

p {
  font-family: palatino, Helvetica, serif;
  font-size: 16px;
  font-style: italic;
  line-height: 1.2em;
  margin: 0em;
}
