@import url (https://fonts.googleapis.com/css?family=Ubuntu:400,400italic);

.header img {
	float: left;
	width: 70px;
	height: 68px;
}

.header h1 {
	position: relative;
}

h1	{
	font-family: Helvetica, sans-serif;
}

body {
  	font-family: 'Ubuntu', georgia, serif; 
  	text-align: center;
  	background-image: none;
  	background-color: black;
  	background-size: cover;
  	color: #FFF;
}

hr {
  	width: 300px;
}  

p {
	font-family: palatino, Helvetica, serif;
	font-size: 18px;
	font-style: italic;
	line-height: 1.5em;
	margin: 2em;
    px 10px 10px 50px;
}